.section h1 {
	margin: 0 0 10px;
	font-size: 2em;
}

.section hr {
	width: 90%;
	margin: 10px auto;
}

.section p {
	font-size: 1em;
}

@media (min-width: 992px) {
	.section hr {
		width: 500px;
	}
}
