.select-dropdown {
	margin: 1.2rem auto;
}

.select-dropdown select {
	font: inherit;
	font-size: 1.2rem;
	padding: 0.5rem 1rem;
	border: none;
	text-align: center;
	border: 1px solid var(--grey-color);
	border-radius: 0.4rem;
	background-color: transparent;
	color: var(--text-color);
}

.select-dropdown select:active,
.select-dropdown select:focus {
	outline: none;
	box-shadow: none;
}
