.perSection {
	display: grid;
	grid-template-columns: auto auto 3rem;
	column-gap: 2rem;
	justify-content: center;
	margin-bottom: 0.8rem;
}

.btn-delete {
	padding: 0.2rem;
}

@media (max-width: 425px) {
	.perSection {
		column-gap: 1rem;
	}
}

@media (max-width: 375px) {
	.perSection {
		margin-bottom: 0.5rem;
	}
}
