.perSection {
	display: grid;
	grid-template-columns: 2fr 2fr 1fr;
	column-gap: 0rem;
	margin-bottom: 1rem;
}

.addBtn {
	display: block;
	margin: 0 auto 0.5rem;
}

.deleteBtn {
	width: auto;
}

@media (max-width: 992px) {
	.perSection {
		grid-template-columns: 1fr;
		gap: 0.5rem;
	}
}
