.input {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
}

.input input {
	font: inherit;
	border: 0.1rem solid var(--grey-color);
	border-radius: 0.4rem;
	padding: 0.4rem;
}

.input input:focus {
	outline: none;
	border-color: var(--secondary-color);
}
