.input {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
	font-size: 1.6rem;
}

.input input {
	font: inherit;
	border: 0.1rem solid var(--grey-color);
	border-radius: 0.4rem;
	padding: 0.4rem;
}

.input input:focus {
	outline: none;
	border-color: var(--secondary-color);
}

@media (max-width: 768px) {
	.input {
		font-size: 1.2rem;
	}
}

@media (max-width: 768px) {
	.input {
		font-size: 1rem;
	}
}

@media (max-width: 425px) {
	.input input {
		width: 11rem;
	}
}

@media (max-width: 375px) {
	.input input {
		width: 9rem;
		padding: 0.2rem;
	}
}
